<header>
    <div class="header-content">
        <div class="logo-nav">
            <h1 class="logo">カイゼン</h1>
            <nav>
                <ul>
                    <li class="active"><a href="#">Tasks</a></li>
                    <li><a href="#">Activity</a></li>
                    <li><a href="#">Mood</a></li>
                </ul>
            </nav>
        </div>
        <div class="user-profile">
            <div class="notification-icon">
                <i class="fa-regular fa-bell"></i>
            </div>
            <div class="profile-pic">
                <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/image-QoafEBophbx2DzsIPQoUHVTJ8rRoO1.png" alt="Profile picture" class="avatar">
            </div>
        </div>
    </div>
</header>
